<h1>Editing project_invitation</h1>

<% form_for(@project_invitation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :invite_code %><br />
    <%= f.text_field :invite_code %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @project_invitation %> |
<%= link_to 'Back', project_invitations_path %>