<h1>Listing project_invitations</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Invite code</th>
    <th>Email</th>
  </tr>

<% @project_invitations.each do |project_invitation| %>
  <tr>
    <td><%=h project_invitation.project_id %></td>
    <td><%=h project_invitation.invite_code %></td>
    <td><%=h project_invitation.email %></td>
    <td><%= link_to 'Show', project_invitation %></td>
    <td><%= link_to 'Edit', edit_project_invitation_path(project_invitation) %></td>
    <td><%= link_to 'Destroy', project_invitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New project_invitation', new_project_invitation_path %>