<p>
  <b>Project:</b>
  <%=h @project_invitation.project_id %>
</p>

<p>
  <b>Invite code:</b>
  <%=h @project_invitation.invite_code %>
</p>

<p>
  <b>Email:</b>
  <%=h @project_invitation.email %>
</p>


<%= link_to 'Edit', edit_project_invitation_path(@project_invitation) %> |
<%= link_to 'Back', project_invitations_path %>