<h1>Listing Projects</h1>
<table>
  <tr>
    <th>Owner</th>
    <th>Name</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%=h project.owner.login %></td>
    <td><%=h project.name %></td>
    <td><%= link_to 'Show', project %></td>
    <%= "<td id=\"project_#{project.id}_edit\">#{link_to 'Edit', edit_project_path(project)}</td>" if project.owner == current_user %>
    <%= "<td id=\"project_#{project.id}_destroy\">#{link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete}</td>" if project.owner == current_user  %>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New project', new_project_path %>