<p>
  <b>Owner:</b>
  <%=h @project.owner.name %>
</p>

<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p id="start_stop">
	<% unless @last_running.blank? %>
		<%= button_to_remote "Stop", :url => stop_project_time_path(@last_running.id), :with => "$('notes').value" %>
	<% else %>
		<%= button_to_remote "Start", :url => start_project_time_path(@project.id) %>
	<% end %>
</p>
<p id="notes_area" style="display:<%= @last_running.nil? ? "none" : "block" %>"><textarea id="notes" rows="3"></textarea></p>
<div id="project_time">
	Current Time: <div id="current_session"><%= @last_running.nil? ? "00:00:00" : "<script type=\"text/javascript\" charset=\"utf-8\">document.write((new Time).fromElapsed(#{@last_running.elapsed_time}).prettyString);</script>" %></div><br />
	My Current Project Time: <div id="my_current_project_time">0:00:00</div>
</div>
<br />
Total Project Time: <div id="total_project_time">00:00:00</div>
<%= "<script type='text/javascript' charset='utf-8'>
	timer = new Timer;
	timer.startTimer(\"$('current_session').update(timer.currentPrettyString());$('total_project_time').update((new Time).fromElapsed(#{@project.total_time - @last_running.elapsed_time}+timer.currentElapsed()).prettyString);$('my_current_project_time').update((new Time).fromElapsed(#{@project.total_time_for_user(current_user) - @last_running.elapsed_time}+timer.currentElapsed()).prettyString)\", #{@last_running.start_time.to_datetime.to_f.to_i})
</script>" unless @last_running.nil? %>
<br />
<%= button_to_function "Add a Time Manually", "$('manual_time_add').show()" %>
<div id="manual_time_add" style="display:none;">
	<% remote_form_for ProjectTime.new(:project_id => @project.id), :url => add_manual_time_to_project_path(@project.id) do |f| %>
		<p>
			<%= f.label :start_time %>
			<%= f.datetime_select :start_time, :date_separator => '/', :time_separator => ':', :datetime_separator => ',' %>
		</p>
		<p>
			<%= f.label :end_time %>
			<%= f.datetime_select :end_time, :date_separator => '/', :time_separator => ':', :datetime_separator => ',' %>
		</p>
		<p>
			<%= f.label :notes %>
			<%= f.text_area :notes, :rows => 3 %>
		</p>
		<%= f.submit "Submit", :disable_with => 'Adding...' %>
	<% end %>
</div>

<p>
	<b>Times</b>
	<table>
		<tr>
			<th>User</th>
			<th>Starting Time</th>
			<th>Ending Time</th>
			<th>Elapsed Time</th>
		</tr>
		<tbody id="project_times">
			<% ProjectTime.find_all_by_project_id(@project.id, :order => "start_time DESC").each do |pt| %>
				<tr id="project_time_<%= pt.id %>">
					<td><%= pt.user.name %></td>
					<td><%= pt.start_time %></td>
					<td><%= pt.end_time.nil? ? "Running..." : pt.end_time %></td>
					<td>
						<script type="text/javascript" charset="utf-8">
							document.write((new Time).fromElapsed(<%= pt.elapsed_time %>).prettyString)
						</script>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</p>

<%= "#{link_to 'Edit', edit_project_path(@project)} | " if current_user.owns_project(@project.id) %>
<%= link_to 'Back', projects_path %>

<script type="text/javascript" charset="utf-8">
	$('my_current_project_time').update((new Time).fromElapsed(<%= @project.total_time_for_user(current_user) %>).prettyString);
	$('total_project_time').update((new Time).fromElapsed(<%= @project.total_time %>).prettyString);
</script>